.available-desktop {
    border: 2px solid #ddd;
    text-align: center;
    padding: 4px
}

.available-desktop-header {
    border: 2px solid #ddd;
    text-align: center;
    padding: 4px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    margin-bottom: -2px;
}
.QuantitySection {
    float: left;
    border: 1px solid #ddd;
    width: 150px;
    height: 33px;
    margin-left: 5px;
}
.Dcrement {
    font-size: 32px;
    text-align: center;
    width: 50px;
    float: left;
    cursor: pointer;
    font-weight: 700;
    color: black;
    margin-top: -10px;
}
.Increment {
    font-weight: 700;
    color: orange #e91b2a;
    font-size: 25px;
    text-align: center;
    width: 40px;
    float: left;
    cursor: pointer;
    margin-top: -5px;
    margin-left: 4px;
}
.Quantity {
    color: grey;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    height: 32px;
    padding: 1px;
    font-size: 20px;
    text-align: center;
    width: 50px;
    float: left;
    cursor: pointer;
    font-weight: 700;
}
.specification-div{
    width: 20%;
    margin-bottom: -9px;
}
.specification-header{
    border: 2px solid #ddd;
    padding: 6px;
    text-align: center;
    border-top-right-radius: 26px;
    cursor: pointer;
}
.related-product-title{
    background: #ddd;
    width: 259px;
    margin-left: 24px;
    padding: 9px;
    font-size: 22px;
    font-weight: bold;
    border-top-right-radius: 18px;
}
.related-product-section{}